# List and Dictionary

In [32]:
lst=[1,2,3,4,5]

In [33]:
lst[0:4]

[1, 2, 3, 4]

In [34]:
lst[-1]

5

In [35]:
lst=lst+[3.14,2.71,4.33]

In [36]:
lst

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33]

In [37]:
type(lst[4])

int

In [38]:
lst=lst+['ucp','lahore']

In [39]:
lst[0:10]

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33, 'ucp', 'lahore']

In [40]:
lst.extend([45,55,65])

In [41]:
lst

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33, 'ucp', 'lahore', 45, 55, 65]

In [57]:
lst.append(['uet','umt'])

In [43]:
lst

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33, 'ucp', 'lahore', 45, 55, 65, ['uet', 'umt']]

In [44]:
lst[-1]

['uet', 'umt']

In [45]:
lst[-1][1]

'umt'

In [46]:
lst[-1][1][0]

'u'

In [47]:
lst.insert(5,666)

In [48]:
lst

[1,
 2,
 3,
 4,
 5,
 666,
 3.14,
 2.71,
 4.33,
 'ucp',
 'lahore',
 45,
 55,
 65,
 ['uet', 'umt']]

In [50]:
del lst[5]

In [51]:
lst

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33, 'ucp', 'lahore', 45, 55, 65, ['uet', 'umt']]

In [52]:
lst.remove('ucp')

In [53]:
lst

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33, 'lahore', 45, 55, 65, ['uet', 'umt']]

In [55]:
del lst[-1]

In [58]:
lst

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33, 'lahore', 45, 55, 65, ['uet', 'umt']]

In [59]:
lst.pop()

['uet', 'umt']

In [60]:
lst

[1, 2, 3, 4, 5, 3.14, 2.71, 4.33, 'lahore', 45, 55, 65]

In [64]:
lst

[2, 3, 4, 5, 3.14, 2.71, 4.33, 'lahore', 45, 55, 65]

In [82]:
for x in lst:
    for i in lst:
        if type(i)==str:
            lst.remove(i)

In [80]:
lst.insert(6,'Endia')

In [83]:
lst

[2, 2.71, 3, 3.14, 4, 4.33, 5, 45, 55, 65]

In [74]:
lst.remove('india')

In [88]:
lst.sort(reverse=True)

In [89]:
lst

[65, 55, 45, 5, 4.33, 4, 3.14, 3, 2.71, 2]

# Dictionary

In [106]:
dic={'Country':['Pakistan','Iran','India','China'],
    'Capital':['Isl','Tehran','Delhi','Bejing'],
    'Population':[24.5,22.1,135.7,175.3]}

In [91]:
dic

{'Country': ['Pakistan', 'Iran', 'India', 'China'],
 'Capital': ['Isl', 'Tehran', 'Delhi', 'Bejing'],
 'Population': [24.5, 22.1, 135.7, 5.8, 175.3]}

In [95]:
dic.items()

dict_items([('Country', ['Pakistan', 'Iran', 'India', 'China']), ('Capital', ['Isl', 'Tehran', 'Delhi', 'Bejing']), ('Population', [24.5, 22.1, 135.7, 5.8, 175.3])])

In [94]:
dic.keys()

dict_keys(['Country', 'Capital', 'Population'])

In [96]:
dic.values()

dict_values([['Pakistan', 'Iran', 'India', 'China'], ['Isl', 'Tehran', 'Delhi', 'Bejing'], [24.5, 22.1, 135.7, 5.8, 175.3]])

In [97]:
for k in dic:
    print(k)

Country
Capital
Population

In [98]:
for v in dic.values():
    print(v)

['Pakistan', 'Iran', 'India', 'China']
['Isl', 'Tehran', 'Delhi', 'Bejing']
[24.5, 22.1, 135.7, 5.8, 175.3]

In [99]:
for k,v in dic.items():
    print(k,'->',v)

Country -> ['Pakistan', 'Iran', 'India', 'China']
Capital -> ['Isl', 'Tehran', 'Delhi', 'Bejing']
Population -> [24.5, 22.1, 135.7, 5.8, 175.3]

In [100]:
import pandas as pd

In [107]:
df=pd.DataFrame.from_dict(dic)

In [108]:
df

    Country Capital  Population
0  Pakistan     Isl        24.5
1      Iran  Tehran        22.1
2     India   Delhi       135.7
3     China  Bejing       175.3

In [112]:
df.to_csv(r'table.csv',index=False,header=True)

In [113]:
var=pd.read_csv('table.csv')

In [114]:
var

    Country Capital  Population
0  Pakistan     Isl        24.5
1      Iran  Tehran        22.1
2     India   Delhi       135.7
3     China  Bejing       175.3

In [115]:
var.head(2)

    Country Capital  Population
0  Pakistan     Isl        24.5
1      Iran  Tehran        22.1

In [116]:
var.tail(2)

  Country Capital  Population
2   India   Delhi       135.7
3   China  Bejing       175.3